n8n-main-workflow.json
{
  "name": "Trading Education AI - Main Workflow",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-video-upload",
      "name": "Webhook: Video Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "trading-video-upload"
    },
    {
      "parameters": {
        "jsCode": "// Validate video upload\nconst body = $input.first().json.body;\n\nif (!body.video_id || !body.file_path) {\n  throw new Error('Missing video_id or file_path');\n}\n\nif (!body.filename) {\n  throw new Error('Missing filename');\n}\n\n// Check file size (optional)\nconst maxSizeMB = 500;\nif (body.file_size_mb && body.file_size_mb > maxSizeMB) {\n  throw new Error(`File too large: ${body.file_size_mb}MB (max ${maxSizeMB}MB)`);\n}\n\n// Return validated data\nreturn {\n  video_id: body.video_id,\n  file_path: body.file_path,\n  filename: body.filename,\n  file_size_mb: body.file_size_mb || 0,\n  upload_time: new Date().toISOString()\n};"
      },
      "id": "validate-upload",
      "name": "Validate Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://video-processor:8000/process-video",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  video_id: $json.video_id,\n  file_path: $json.file_path,\n  filename: $json.filename,\n  use_cascade: true,\n  confidence_threshold: 0.65\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "call-video-processor",
      "name": "Process Video (Python API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-processing-success",
      "name": "Check Processing Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'llama2',\n  prompt: `You are a trading strategy analyst. Extract trading concepts and generate strategy ideas from this video transcription:\\n\\nTranscription: ${$json.transcription}\\n\\nProvide:\\n1. Key trading concepts mentioned\\n2. Indicators discussed\\n3. Entry/exit rules\\n4. Risk management suggestions\\n\\nFormat as JSON with keys: concepts, indicators, entry_rules, exit_rules, risk_management`,\n  stream: false,\n  format: 'json'\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "generate-strategy-ollama",
      "name": "Generate Strategy (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "jsCode": "// Parse Ollama response and combine with video data\nconst videoData = $input.first().json;\nconst ollamaResponse = $input.all()[1].json;\n\n// Parse Ollama's JSON response\nlet strategyData;\ntry {\n  strategyData = JSON.parse(ollamaResponse.response);\n} catch (e) {\n  strategyData = {\n    concepts: [],\n    indicators: [],\n    entry_rules: ollamaResponse.response,\n    exit_rules: '',\n    risk_management: ''\n  };\n}\n\n// Combine video data with strategy\nreturn {\n  video_id: videoData.video_id,\n  filename: videoData.filename,\n  transcription: videoData.transcription,\n  detected_charts: videoData.detected_charts,\n  processing_stats: videoData.processing_stats,\n  strategy: {\n    concepts: strategyData.concepts || [],\n    indicators: strategyData.indicators || [],\n    entry_rules: strategyData.entry_rules || '',\n    exit_rules: strategyData.exit_rules || '',\n    risk_management: strategyData.risk_management || '',\n    generated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-strategy",
      "name": "Parse Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "url": "http://backtesting-service:8001/backtest",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  video_id: $json.video_id,\n  strategy: $json.strategy,\n  symbol: 'NIFTY',\n  timeframe: '15m',\n  start_date: '2024-01-01',\n  end_date: '2024-12-31'\n}) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "run-backtest",
      "name": "Run Backtest (Python API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "profitable-check",
              "leftValue": "={{ $json.backtest_results.is_profitable }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-profitability",
      "name": "Check if Profitable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 250]
    },
    {
      "parameters": {
        "jsCode": "// Create success notification\nconst results = $input.first().json;\n\nlet message;\nif (results.backtest_results.is_profitable) {\n  message = `✅ Profitable Strategy Found!\\n\\nVideo: ${results.filename}\\nStrategy: ${results.strategy.indicators.join(', ')}\\nWin Rate: ${results.backtest_results.win_rate}%\\nProfit Factor: ${results.backtest_results.profit_factor}\\nSharpe Ratio: ${results.backtest_results.sharpe_ratio}\\nTotal P&L: $${results.backtest_results.total_pnl}`;\n} else {\n  message = `❌ Strategy Not Profitable\\n\\nVideo: ${results.filename}\\nWin Rate: ${results.backtest_results.win_rate}%\\nStrategy deleted.`;\n}\n\nreturn {\n  message: message,\n  video_id: results.video_id,\n  is_profitable: results.backtest_results.is_profitable,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "format-notification",
      "name": "Format Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: 'success',\n  video_id: $json.video_id,\n  message: 'Video processing completed',\n  is_profitable: $json.is_profitable,\n  timestamp: $json.timestamp\n}) }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 250]
    },
    {
      "parameters": {
        "jsCode": "// Handle error\nconst error = $input.first().json;\n\nreturn {\n  status: 'error',\n  message: error.message || 'Processing failed',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: 'error',\n  error: $json.message\n}) }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 450]
    }
  ],
  "connections": {
    "Webhook: Video Upload": {
      "main": [
        [
          {
            "node": "Validate Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Upload": {
      "main": [
        [
          {
            "node": "Process Video (Python API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video (Python API)": {
      "main": [
        [
          {
            "node": "Check Processing Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processing Success": {
      "main": [
        [
          {
            "node": "Generate Strategy (Ollama)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Strategy (Ollama)": {
      "main": [
        [
          {
            "node": "Parse Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Strategy": {
      "main": [
        [
          {
            "node": "Run Backtest (Python API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Backtest (Python API)": {
      "main": [
        [
          {
            "node": "Check if Profitable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Profitable": {
      "main": [
        [
          {
            "node": "Format Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Notification": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-10T22:25:00.000Z",
  "versionId": "1"
}